<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
   <sitecore>
      <events>
         <event name="publish:end">
            <handler type="SitecoreSuperchargers.Historian.Handler,SitecoreSuperchargers.Historian" method="Process">
               <databases hint="list">
                  <database>web</database>
               </databases>
            </handler>
         </event>
      </events>
      <databases>
         <database id="web">
            <Engines.HistoryEngine.Storage>
               <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
                  <param connectionStringName="$(id)" />
                  <EntryLifeTime>30.00:00:00</EntryLifeTime>
               </obj>
            </Engines.HistoryEngine.Storage>
            <Engines.HistoryEngine.SaveDotNetCallStack>false</Engines.HistoryEngine.SaveDotNetCallStack>
         </database>
      </databases>
      <pipelines>
         <historycollector help="Processors should derive from SitecoreSuperchargers.Historian.BaseCollector">
            <processor type="SitecoreSuperchargers.Historian.Media.MediaUrlCollector,SitecoreSuperchargers.Historian.Media" />
         </historycollector>
      </pipelines>
   </sitecore>
</configuration>